<div class="section-container">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-md-12 section-container-spacer">
              <h2 class="text-center">Como me represento</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-md-4">
              <div class="fa-container">
                  <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>
              </div>
              <h3 class="text-center">Dedicada</h3>
              <p>Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.</p>
          </div>

          <div class="col-xs-12 col-md-4">
              <div class="fa-container">
                  <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
              </div>
              <h3 class="text-center">Decidida</h3>
              <p>Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          </div>
          <div class="col-xs-12 col-md-4">
              <div class="fa-container">
                  <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
              </div>
              <h3 class="text-center">Libre</h3>
              <p> Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          </div>
      </div>
  </div>
</div>