<footer class="footer-container white-text-container">
    <div class="container">
        <div class="row">
                <div class="col-md-4">
                    <h4>Camigomez35</h4>
                </div>

                <div class="col-md-4">
                    <h4>Follow me!</h4>
                    <div>
                        <p>
                            <a [href]="personalLinks.twitter" class="fa-icon" title="">
                              <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a [href]="personalLinks.facebook" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="personalLinks.linkedin" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                    </div>

                </div>

                <div class="col-md-4">
                        
                  <h4>Persigue tus sueños</h4>
              </div>
        </div>
    </div>
</footer>
