<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('./assets/images/img-01.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">
                <p></p>
            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>Un poco sobre mi</h2>
                <h3>Medellín, Colombia</h3>
                <p>
                    Soy Ingeniería de Sistemas de la Universidad de Antioquia y trabajo como Desarrolladora de Software en Experiemntality SAS.
                </p>

                <p>Amo los gatos, la fotografía, bailar y hacer deporte.</p>

                <p>
                    Desde hace 3 años pertenezco a la comunidad de Pioneras Developers, la cual promueve la participación e inclusión de mujeres
                    en el mundo de la Tecnología y como experiencia personal me ha ayudado a animarme a dar charlas en distintas
                    comunidades de la ciudad, esto me ha enseñado a compartir mi conocimiento y aprender de las personas
                    que te están escuchando.
                </p>


            </div>
        </div>
    </div>
</div>