/* BUTTON STYLE
-----------------------------------------------------*/
/*common-btn*/
.btn{
    border: 0;
    border-bottom: 3px solid;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    padding: 9px 22px;
}

/*large-btn*/
.btn-lg,
.btn-group-lg>.btn {
    padding: 14px 20px;
    font-size: 14px;
    border-radius: 4px;
}

/*btn-primary*/
.btn-primary{
    background-color:#68c3a3;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4eb28f;
    border-color: #4eb28f;
}

/*btn-info*/
.btn-info{
    background-color:#52b3d9;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #4aa0c2;
    border-color: #4aa0c2;
}

/* === Contact Section === */
.contact-section  {

}

.contact-section strong {
    display: block;
    text-transform: uppercase;
}
.contact-form strong {
    margin-bottom: 40px;
}

.contact-form textarea.form-control {
    height: 115px;
}

.contact-form .btn {
    margin-top: 15px;
}

.contact-section div > i{
    float: left;
    font-size: 45px;
    margin-right: 20px;
}
.contact-section address,
.contact-section .contact-number {
    overflow: hidden;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 45px
}


/*MAP*/
.location-map {
    padding: 4px;
    border: 1px solid #eee;
    border-bottom: 3px double #eee;
}

agm-map {
    height: 350px;
}