<!-- Contact Section -->
<section id="contact" class="contact-section section-padding animated bounceInLeft">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Donde Encontrarme</h2>

    <div class="row">
      <!-- No contact form for MVP -->
      <div class="col-md-12">
        <div class="row center-md text-center">
          <div class="col-md-4">
            <i class="fa fa-map-marker"></i>

            <address>
              <strong>Ciudad/Pais</strong>
              {{city}}, {{country}}
              <br>
            </address>
          </div>

          <div class="col-md-4">
            <i class="fa fa-envelope-o"></i>
            <div class="contact-number">
              <strong>Email</strong>
              <a [href]="'mailto:' + personalLinks.email">{{personalLinks.email}}</a>
            </div>
          </div>

          <div class="col-md-4">
            <i class="fa fa-linkedin"></i>
            <div class="contact-number">
              <strong>Linkedin</strong>
              <a [href]="personalLinks.instagram">camigomez35</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row center-md text-center">
          <div class="col-md-4">
            <i class="fa fa-github-alt"></i>

            <address>
              <strong>Github</strong>
              <a [href]="personalLinks.instagram">camigomez35</a>
              <br>
            </address>
          </div>

          <div class="col-md-4">
            <i class="fa fa-instagram"></i>
            <address>
              <strong>Instagram</strong>
              <a [href]="personalLinks.instagram">camigomez35</a>
              <br>
            </address>
          </div>

          <div class="col-md-4">
              <i class="fa fa-twitter"></i>
              <address>
                <strong>Twitter</strong>
                <a [href]="personalLinks.twitter">camigomez318</a>
                <br>
              </address>
            </div>

        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- End Contact Section -->