 <!-- Add your content of header -->
<!--
 <header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="./index.html#contact-section-container" title="" class="anchor-link">Contact Us</a></li>
            <li>
                <p>
                    <a href="./components.html" class="btn btn-default navbar-btn">Components</a>
                </p>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
-->


<!-- Add your site or app content here -->

<app-home></app-home>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Como me represento</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Dedicada</h3>
                <p>Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Decidida</h3>
                <p>Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="fa-container">
                    <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
                </div>
                <h3 class="text-center">Libre</h3>
                <p> Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container">
    <div class="image-column" style="background-image: url('./assets/images/img-01.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">
                <p></p>
            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>Un poco sobre mi</h2>
                <h3>Medellín, Colombia</h3>
<p>
    Soy Ingeniería de Sistemas de la Universidad de Antioquia 
    y trabajo como Desarrolladora de Software en Experiemntality SAS.
</p>

<p>Amo los gatos, la fotografía, bailar y hacer deporte.</p>

<p>
    Desde hace 3 años pertenezco a la comunidad de Pioneras Developers, la cual promueve la participación e 
inclusión de mujeres en el mundo de la Tecnología y como experiencia personal me ha ayudado a animarme a 
dar charlas en distintas comunidades de la ciudad, esto me ha enseñado a compartir mi conocimiento y aprender 
de las personas que te están escuchando.
</p>


            </div>
        </div>
    </div>
</div>



<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Para compartir</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="./assets/images/img-09.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Pioneras Developes 2017</h3>
                <p>¡Hola Mujer! Si sabes que es programar, has programado o estás 
                    aprendiendo, eres una PIONERA. ¡Felicitaciones! Te invitamos a que participes y comiences a hacer la diferencia.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src="./assets/images/img-10.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Django Girls Medellín 2018</h3>
                <p>Es un evento de programación dirigido a mujeres que quieren impactar 
                    en el mundo de la tecnología y deseen romper la brecha de genero que hay en el momento.
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="./assets/images/img-08.jpg" alt="" class="img-responsive">
                <h3 class="text-center">Fotografía</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
        </div>
    </div>
</div>

<div>
    <app-ghcomponent></app-ghcomponent>
</div>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
    
  googleMapInit(); 
  scrollToAnchor();
  scrollRevelation('reveal');
});
</script>

<app-footer></app-footer>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
});
</script>
