<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 section-container-spacer">
            <h2 class="text-center">Para compartir</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <img src="./assets/images/img-09.jpg" alt="" class="img-responsive">
            <h3 class="text-center">Pioneras Developes 2017</h3>
            <p>¡Hola Mujer! Si sabes que es programar, has programado o estás aprendiendo, eres una PIONERA. ¡Felicitaciones!
                Te invitamos a que participes y comiences a hacer la diferencia.</p>
        </div>

        <div class="col-xs-12 col-md-4">
            <img src="./assets/images/img-10.jpg" alt="" class="img-responsive">
            <h3 class="text-center">Django Girls Medellín 2018</h3>
            <p>Es un evento de programación dirigido a mujeres que quieren impactar en el mundo de la tecnología y deseen romper
                la brecha de genero que hay en el momento.
            </p>
        </div>
        <div class="col-xs-12 col-md-4">
            <img src="./assets/images/img-08.jpg" alt="" class="img-responsive">
            <h3 class="text-center">Fotografía</h3>
            <p>Me gusta dibujar momentos y mostrar lo bello de cada uno por medio de la fotografía. </p>
        </div>
    </div>
</div>