.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  .grid-container > div {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
  }