<header class="header">
  <nav class="navbar navbar-custom" role="navigation">
      <div class="container container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#custom-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a [routerLink]="['/aboutme']">Quien Soy</a></li>
                  <li><a [routerLink]="['/likeme']">Mis valores</a></li>
                  <li><a [routerLink]="['/projects']">Proyectos</a></li>
                  <li><a [routerLink]="['/news']">Noticias</a></li>
                  <li><a [routerLink]="['/contact']">Contactame</a></li>
              </ul>
          </div>
      </div>
  </nav>
</header>