@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Lato|Nunito+Sans:400,600);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/* */
:root{
--verdemarino : #27b595;
--azulrey : #163c8f;
--moradooscuro : #490078;
--rojocarmesi : #99e0f;
}
body{
    margin: 0;
    padding: 0;
  }
/* App Home */
app-root .background-image-container[_ngcontent-c1=""]{
    height: 70vh;
    margin: 0;
    padding: 30vh 0 0 0;
  }
.background-image-container[_ngcontent-c1] .container .row h1{
    font-family: 'Rock Salt', cursive;
    color: #fff;
    font-size: 3.5em;
    text-rendering: auto;
    margin: 10px 0 0 0;
    text-shadow: 1px -1px 6px #0c0c0c;
  }
.background-image-container[_ngcontent-c1] .container .row p{
    font-family: 'Architects Daughter', cursive;
    color: #fff;
    margin: 5px 0;
    font-size: 1.7em;
    text-shadow: 0px 0px 1px #505050;
  }
/* End App Home */
/* app-navigation */
.navbar .navbar-header{display: none;}
app-root [_ngcontent-c0=""] .header .navbar-custom[_ngcontent-c2]{background-color: #222;}
.header .navbar .container-fluid .navbar-collapse ul{margin: 0;text-align: right;padding: 0 65px 0 0;height: 51px;}
[_ngcontent-c0=""] .header .navbar .container-fluid .navbar-collapse ul li{display: inline-block;padding: 10px 3px;margin: 0 5px;vertical-align: bottom;-webkit-transition: all 200ms ease;transition: all 200ms ease;border-top-left-radius: 5px;border-top-right-radius: 5px;}
app-root [_ngcontent-c0=""] .header .navbar .container-fluid .navbar-collapse ul li a[_ngcontent-c2]{text-decoration: none;font-size: 1.1em;letter-spacing: 1px;font-family: 'Architects Daughter', cursive;-webkit-transition: all 300ms ease;transition: all 300ms ease;vertical-align: top;color: #f1f1f1;}
app-root [_ngcontent-c0=""] .header .navbar .container-fluid .navbar-collapse ul li a[_ngcontent-c2]:before{position: absolute;height: 1px;width: 0px;background-color: #fff;margin: 26px 0 0 0;content: '';-webkit-transition: all 400ms ease;transition: all 400ms ease;}
app-root [_ngcontent-c0=""] .header .navbar .container-fluid .navbar-collapse ul li a[_ngcontent-c2]:hover:before{width: 102px;}
app-root [_ngcontent-c0=""] .header .navbar .container-fluid .navbar-collapse ul li a[_ngcontent-c2]:hover{font-weight: bold;}
app-root [_ngcontent-c0=""] .header .navbar .container-fluid .navbar-collapse ul li a[_ngcontent-c2]:hover:first-letter{font-size: 1.4em;color: #0f0;}
app-root [_ngcontent-c0=""]  .navbar-custom[_ngcontent-c2], .navbar-custom[_ngcontent-c2] .dropdown-menu[_ngcontent-c2]{background-color: #272727;}
[_ngcontent-c0=""] .header .navbar .container-fluid .navbar-collapse ul li:hover{}
/* end app-navigation*/
[_nghost-c4=""] > div{}
app-aboutme > div,app-likeme > div, app-ghcomponent, app-news > div, app-contact > section{-webkit-animation: aparecer 1s ease;animation: aparecer 1s ease;;height: 76vh;min-width: 1000px;}
app-aboutme div .image-column{background-size: 100% auto;background-repeat: no-repeat;display: inline-block;width: 100%;background-position-x: 0;height: 918px;position: absolute;}
app-aboutme div .container{display: inline-block;width: 500px;vertical-align: top;position: relative;padding: 17px;font-size: 1.5em;background-color: var(--verdemarino );margin: 36px;}
app-footer .footer-container[_ngcontent-c3]{background-color: var(--moradooscuro);font-size: 1.5em;}
app-footer footer .container [_ngcontent-c3=""] a{text-decoration: none;color: #878787;margin: 0 2px;}
app-footer footer .container{color: #eee;text-align: center;font-family: 'Architects Daughter', cursive;}
app-footer footer .container h4{display: inline-block;}
app-footer footer .container p{display: inline-block;}
app-footer footer .container [_ngcontent-c3=""]{display: inline-block;margin: 4px 0;}
app-aboutme div .container .row .text-column h2, app-aboutme div .container .row .text-column h3{font-family: Abril Fatface,Times New Roman,Times,serif;font-weight: 500;line-height: 1.1;color: #dedede;font-size: 1.5em;}
app-aboutme div .container .row .text-column h2{font-size:2.1em;color: #f2f2f2;}
app-aboutme div .container .row .text-column p[_ngcontent-c4=""]{color: #f2f2f2;}
app-aboutme div .container .row .text-column h2:after{content: '';background-color: #0c8c83;height: 5px;width: 154px;position: absolute;left: 0;margin: 73px 0 0 17px;}
@-webkit-keyframes aparecer{
  0%{
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100%{
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}
@keyframes aparecer{
  0%{
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100%{
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}